body{
	background-color: #00DEFFFF;
}
a{
	text-decoration: white;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#content{
	padding: 10px;
}
#nav{
	height: 600px;
	margin: 30px;
	width: 200px;
	float: left;
}
#nav ul{
	list-style-type: none;
	padding: 0;
}

#gif{
	float: left;
}

#main{
	width: 900px;
	float: right;
	text-align: center;
}
#footer{
	clear: both;
	padding: 10px;
	background-color: #717C8DFF;
	color: white;
	text-align: center;
}
